.homePageRow{
      justify-content: space-evenly;
    margin-top: 50px;
}

.homeRowHead{
  margin: 25px auto;
  font-weight: 100;
  font-family: 'sen';
}

.btnHome {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}
