<div>
     <div>
        <div>booking details</div>
        <ul>
          <% @bookings.each do |book| %>
            <li><%= book.user_id %> - <%= book.status %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>