<h1>Bookings#index</h1>
<div>
      <div>
        <div>booking details</div>
        <ul>
          <% @bookings.each do |book| %>
            <li><%= booking.user_id %> (<%= booking.status %>)</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
