<h1>Change your Experience here</h1>
<p>We understand. Things change. Prices go up and down. More locations become available.</p>

<p> Whatever you need to do, you can quickly update your guided experience here.</p>

<p>Current Experience to edit : <%= @experience.title %> </p>

<%= render 'form', experience: @experience %>
















<p>Experiences#edit<p>
<p>Find me in app/views/experiences/edit.html.erb</p>