<div class = "outer_wrapper">
  <div class="test">

    <div class="title-edit">
      <h1>Make your Xperience here</h1>
      <p>You have awesome skills and want to show the world what you can do .</p>
      <p> Whatever experiences you have guide, people will pay for </p>     
    </div>
    <div class="central"> 
       <%= render 'form', experience: @experience %>
       </div>
  </div>
</div>


