



.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}

.banner h1 {
  margin: 0;
  color: white;

  font-size: 65px;
  font-weight: 100;
  font-family: 'Sen', sans-serif;
  border-bottom: 4px solid white;
  display: inline-block;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
