

.homeIcon{
  img{
    width: 38px;
  }}

.icon-tabler-dashboard{
  stroke: white;
}
.profiler-button{
  display: none;
}


.navbar-lewagon {
  justify-content: space-between;
  background: #3F88C5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
